  <%= send(SimpleAdmin.form_for_helper, @resource, :as => @interface.member.to_sym,
    :url => resource_path(@resource), :html => {:class => "simple_form formtastic #{@interface.member}"}) do |form| %>
    <% if @resource.errors.any? %>
    <div class="admin-form-errors">
      <ul>
        <% @resource.errors.full_messages.each do |err| %>
        <%= content_tag :li, err %>
        <% end %>
      </ul>
    </div>
    <% end %>
    <fieldset class="inputs">
      <ol>
        <%= form_fields(form, @interface.attributes_for(:form)) %>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit"><input class="save" name="commit" type="submit" value="Save <%= @interface.member.titleize %>"></li>
        <li class="cancel"><%= link_to "Cancel", send("simple_admin_#{@interface.collection}_path") %></li>
      </ol>
    </fieldset>
  <% end %>
