<!DOCTYPE html><html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
    <title><%= title %></title>
    <%- if protect_against_forgery? -%>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
    <%- end -%>
    <%= stylesheet_link_tag SimpleAdmin.stylesheet %>
    <%= javascript_include_tag SimpleAdmin.javascript %>
  </head>
  <body class="index admin_occasions">
    <div id="wrapper">
      <div id="header">
        <h1 id="site_title"><%= site_title %></h1>
        <%= tabs %>
        <%= utility_nav %>
      </div>
      <div id="title_bar">
        <%= breadcrumbs %>
        <h2 id="page_title"><%= page_title %></h2>
        <%= action_items %>
      </div>
      <div class="with_sidebar" id="active_admin_content">
        <div id="main_content_wrapper">
          <div id="main_content">
            <%= yield :content %>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
      <div id="footer">
        <%= yield :footer %>
      </div>
    </div>
  </body>
</html>



