<!DOCTYPE html><html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
    <title><%= simple_admin_title %></title>
    <%- if protect_against_forgery? -%>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
    <%- end -%>
    <%= stylesheet_link_tag "simple_admin/active_admin" %>
    <%= javascript_include_tag "simple_admin/active_admin_vendor.js" %>
    <%= javascript_include_tag "simple_admin/active_admin.js" %>
  </head>
  <body class="index admin_occasions">
    <div id="wrapper">
      <div id="header">
        <h1 id="site_title"><%= simple_admin_site_title %></h1>
        <%= simple_admin_tabs %>
        <%= simple_admin_utility_nav %>
      </div>
      <div id="title_bar">
        <%= simple_admin_breadcrumbs %>
        <h2 id="page_title"><%= simple_admin_page_title %></h2>
        <%= simple_admin_action_items %>
      </div>
      <div class="with_sidebar" id="active_admin_content">
        <div id="main_content_wrapper">
          <div id="main_content">
            <%= yield :simple_admin_main_content %>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :simple_admin_sidebar_content %>
        </div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>



